
.help-con{
    /* border: 2px solid red; */
    background: rgba(141, 187, 233, 0.24);
}
.help-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  
    margin-top: 90px;
  }
  
  h1, h2 {
    /* text-align: center; */
    color: #333;
  }
  
  .faq-section {
    margin-top: 20px;
  }
  
  .faq-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-question {
    background-color: #f7f7f7;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-answer {
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #ddd;
  }
  
  .toggle-button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #333;
  }
  
  .ask-question {
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6990b9de;
  }
  